body {
    display: flex;
    /* Flexbox layout for body */
    height: 100vh;
    /* Full height of the viewport */
    margin: 0;
    /* Remove default margin */
    position: relative;
    /* For positioning child elements */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

#sqlite-table-sidebar {
    width: 200px;
    /* Fixed width for sidebar */
    border-right: 1px solid #ccc;
    /* Border for separation */
    padding: 0px 10px 0px 10px;
    /* Padding for aesthetics */
    overflow-y: auto;
    /* Allow vertical scrolling */
    position: fixed;
    /* Keep sidebar fixed during scrolling */
    height: 100%;
    /* Full height */
    box-sizing: border-box;
    /* Include padding and border in element's total width */
}

#sqlite-table-main {
    margin-left: 200px;
    /* Leave space for the sidebar */
    margin-right: 240px;
    /* Leave space for the right bar */
    padding: 0px 10px 10px 10px;
    /* Increased padding for better appearance */
    flex-grow: 1;
    /* Main content area takes up remaining space */
    box-sizing: border-box;
    /* Include padding and border in width calculation */
    width: calc(100% - 600px);
    /* Calculate width based on sidebar and right bar */
}

#sqlite-rightbar {
    width: 240px;
    /* Fixed width for the right bar */
    border-left: 1px solid #ccc;
    /* Border for separation */
    padding: 0px 10px 10px 10px;
    /* Padding for aesthetics */
    position: fixed;
    /* Keep right bar fixed during scrolling */
    right: 0;
    /* Align to the right */
    height: 100%;
    /* Full height */
    overflow-y: auto;
    /* Allow vertical scrolling */
    box-sizing: border-box;
    /* Include padding and border in width calculation */
}

table {
    border-collapse: collapse;
    /* Collapse borders for better appearance */
    width: auto;
    /* Let the table determine its width */
    min-width: 600px;
    /* Minimum width for the table */
}

th,
td {
    border: 1px solid #ccc;
    /* Border for table cells */
    padding: 8px;
    /* Padding for cells */
    text-align: left;
    /* Align text to the left */
    white-space: nowrap;
    /* Prevent text from wrapping */
}

.selected {
    background-color: #e0e0e0;
    /* Highlight color for selected row */
}

#output {
    padding-right: 20px;
    padding-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
}

#output,
#selected-data,
#sqlite-table-container {
    min-height: calc(100vh - 70px);
    height: calc(100vh - 215px);
    overflow: auto;
}

input[type="text"],
textarea {
    box-sizing: border-box;

    /* Make inputs fill the available width */
    padding: 6px 8px;

    /* Space between label and input */
    border: 1px solid #c9c9c9;
    color: #222222;
    background-color: #FFFFFF;
}

.data-column input[type="text"],
.data-column textarea {
    /* Include padding and border in total width/height */
    width: 100%;
    /* Add some padding for better appearance */
    margin-top: 4px;
}

input:focus-visible,
textarea:focus-visible {
    outline: none;
}

textarea {
    height: 50px;
    /* Fixed height for textarea */
    resize: vertical;
    /* Allow vertical resizing only */
}

#sqlite-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sqlite-table-list a {
    color: #222222;
    text-decoration: none;
}

#sqlite-table-list li {
    padding: 5px 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#sqlite-table-list li.highlight {
    background-color: #EEEEEE;
}

.sqlite-header-section {
    padding: 10px 0 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    height: 50px;
    box-sizing: border-box;
}

.sqlite-header-section .header-label{
    padding-top: 10px;
}

.custom-file-input {
    display: none;
}

.file-label,
button {
    background-color: #393939;
    color: white;
    padding: 7px 12px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
}

.file-label:hover {
    background-color: #424242;
}

.data-column {
    margin-bottom: 5px;
}

.data-type {
    float: right;
    margin-top: -1px;
    background-color: #737373;
    padding: 4px 6px;
    font-size: 8px;
    border-radius: 2px;
    color: #FFF;
}

button:disabled {
    background-color: #626262;
    cursor: not-allowed;
    color: #fff;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal h2 {
    margin-top: 0;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -8px;
    margin-right: -4px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}